body {
  font-family: verdana;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  /*background: url("/static/pexels-aleksey-kuprikov.jpg") center fixed;  */
  background: url("/static/pexels-nastyasensei.jpg") center fixed;
  background-size: cover;
}
h1,h2 {
  color: black;
}
form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
 
}
nav a{
   text-decoration: none; text-decoration: none;
}
.map-container {
  width: 100%;
  heigh: 50%;
}

.placeInput {
  width: 100%;
}

.visited {
  color: white;
  text-shadow: 2px 2px blue;
}

.not-visited {
  color: white;
  /*text-decoration: underline dotted red;*/
  text-shadow: 2px 2px red;
}
.bucketlist-item {
  font-weight: bold;
 /* background-color: white;*/
}
.bucketlist-div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bucketlist-heading{
  text-shadow: 2px 2px white;
  font-weight: bold;
}
